html,
body,
.footer {
  background-color: black;
  color: lightgray;
  font-size: 1.2em;
}

table,
thead,
tbody,
td,
th {
  background-color: black;
  color: lightgray;
}

h1,
h2,
h3,
label {
  color: white !important;
}

.logo,
.countdown-timer {
  color: red !important;
}

.times {
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
}

.uline {
  text-decoration: underline;
}

hr.motion {
  border-top: 2px black dashed;
}

h4.motion {
  background-color: lightgray;
}

.subtitle {
  color: #999999 !important;
}
